@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/

/* grijs #899CA0 en 
donkergroen #1C2B32 */


/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
}

a {
    color: grey;
}

a:hover {
    text-decoration: none;
}

/*////////////////////////
    2. Typography
////////////////////////*/

h1,h2,h3, p, details, blockquote {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1em;
}

h3 {
    font-size: 1.5em;
}

/*////////////////////////
    3. Areas
////////////////////////*/


/*///////////// 3.1 Header /////////////*/
.header {
    background-image: url(../assets/images/mountains.jpg);
    height: 600px;
    background-repeat: no-repeat, no-repeat;
    background-position: center; 
}

.header-container {
    max-width: 1000px;
    padding-top: 50px;
    text-align: center;
    margin: auto;
}

.header-title {
    color: #1C2B32;
    font-weight: 600;
    font-size: 100px;
    margin-bottom: 0;
}

.header-sub {
    display: block;
    color: #1C2B32;
    margin-bottom: 30px;
}
 
.header-input {
    border-radius: 30px 0 0 30px;
    background: transparent;
    border: 2px solid #1C2B32;
    font-size: 15px;
    padding: 24px 20px;
    width: 300px;
    outline: transparent;
}

input.header-input:focus {
    outline-width: 0;
}

input.header-input::placeholder{
    color: #1C2B32;
}

.header-btn {
    margin: -7px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #1C2B32;
    border: 2px solid #1C2B32;
    padding: 25px;
    color: white;
    cursor: pointer;
}


/*///////////// 3.2 Testimonial /////////////*/

.main {
    max-width: 1000px;
    padding-top: 50px;
    margin: auto;
}

.main-title {
    text-align: center;
}


.testimonial-article {
    position: relative;
    padding: 60px 70px 70px 160px;
    margin: 64px 0;
    border-radius: 15px;
    box-shadow: 0 10px 18px 2px rgba(24, 39, 75, 0.12), 0 3px 8px 0 rgba(24, 39, 75, 0.08);
}

.testimonial-quote {
    margin-bottom: 20px;
}

.testimonial-quote-icon {
    position: absolute;
    left: 100px;
    top: 60px;
}

.testimonial-avatar {
    width: 44px;
    height: 44px;
    vertical-align: middle;
}

.testimonial-name {
    display: inline;
    margin-left: 20px;
    font-style: italic;
}

/*///////////// 3.3 Support /////////////*/
.section-support-btn {
    background-color: #1C2B32;
    border: 2px solid #1C2B32;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    padding: 20px
}


/*///////////// 3.4 Faq /////////////*/

.faq {
    max-width: 1000px;
    padding-top: 50px;
    margin: auto;
}

.faq-title {
    text-align: center;
}

details > summary {
    margin-bottom: 10px;
    cursor: pointer;
}

details > p {
    border-radius: 10px;
    background-color: #899CA0;
    color: white;
    margin: 0;
    padding: 20px;
}
/*///////////// 3.5 Footer /////////////*/
.footer {
    max-width: 1000px;
    padding-top: 20px;
    margin: auto;
    text-align: center;
}